.landing-page-body {
    /* background-color: rgb(106, 97, 85); */
    height: 100%;

    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}
.body-leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding-left: 50px;
}
.body-rightside{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 0px;
    padding-left: 150px;
}

.landing-page-tagline-text{
    font-size: 80px;
    letter-spacing: 3px;
    /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.747); */
    font-family: "arcon-rounded";
}