.page-landing-page{
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 217, 227);
    background-image: url("../../assets/bg-assets/2.png");
    background-size: cover;
    background-position: center;
}
.page-navbar{
    background-color: rgba(100, 99, 99, 0.377);
    width: 100%;
    height: 11vh;
}
.page-body{
    background-color: #45474b00;
    background-color: rgba(100, 99, 99, 0.377);
    height: 89vh;
}

