.history-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.table-history {
    width: 80vw;
    overflow: auto;
    padding: 50px;
    background-color: rgba(78, 79, 79, 0.826);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-close-img {
    height: 30px;
    width: 30px;
    filter: invert(83%);
    transition: 0.3s;
}
.bar-close-img:hover {
    filter: invert(55%);
}

.table-history-bar {
    /* background-color: aqua; */
    align-self: end;
    cursor: pointer;
    margin-bottom: 10px;
}
.table-title{
    font-size: 30px;
    font-family: "arcon-rounded";
    margin-bottom: 17px;
}